{
    "token":"YOUR-TOKEN",
    "devGuildId":"YOUR-DEV-GUILD",
    "defaults": {
        "prefix": "YOUR-PREFIX"
    },
    "colors": {
        "base": 8155763,
        "error": 16653056,
        "warning": 16016923,
        "success": 1488974
    }
}